.main-game {
	display: flex;
	height: 100%;
	width: 100%;
}

.game-left {
	height: 94vh;
	width: 70vw;
}

.game-right {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 94vh;
	width: 30vw;
}

.game-picture {
	height: 100%;
	width: 100%;
}

.selector {
	border: 5px solid black;
	border-radius: 25%;
	height: 50px;
	width: 50px;
}
