.main-game {
	display: flex;
	height: 100%;
	width: 100%;
}

.game-left {
	height: 94vh;
	width: 70vw;
}

.game-right {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 94vh;
	width: 30vw;
}

.game-picture {
	height: 100%;
	width: 100%;
}

.selector {
	border: 5px solid black;
	border-radius: 25%;
	height: 50px;
	width: 50px;
}

.character-dropdown {
	background-color: rgb(0, 0, 0, 0.5);
	height: fit-content;
	width: 80px;
}

.character {
	cursor: pointer;
	width: 60px;
	height: 35px;
	background-color: rgb(203, 203, 203);
	border: 1px solid black;
	margin: 10px;
	border-radius: 5px;
}

.character:hover {
	background-color: rgba(255, 252, 167, 0.8);
	box-shadow: 2px 2px 2px black;
	border-radius: 10px;
}

.character-div {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.character-img {
	height: 100px;
	width: 80px;
}
