* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.navBar {
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: rgb(84, 184, 255);
	color: white;
	height: 50px;
}

.navText {
	font-weight: 100;
}

.home {
	cursor: pointer;
}
